
#navbar{
    text-align:center;
    background-color: rgb(225, 160, 136);
    justify-content: space-between;
    display: flex;
     height: 90px;
}
#navbar ul{
   margin-top: 30px;
    list-style:  none;
    display: flex;
    text-align: center;
   border-radius: 4px;
 }
a{
text-decoration: none;
font-size: 25px;
text-align: center;
line-height: normal;
padding: 10px;
margin: 20px;
color: rgb(4, 5, 5);
border: 1px solid black;

background-color: rgb(112, 189, 30);
position: relative;
bottom: 3px;

}
a:hover{
    color: rgb(226, 43, 153);
}
 #navbar img{
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 7px;
    width: 80px;
  
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    background-color: rgb(16, 223, 106);
    border: solid;
    font-size: 28px;
    text-align: center;
    margin-top: 25px;
    margin-right: 18px;
}
button:hover{
    background-color: coral;
}

#main {
background-color: rgb(197, 11, 11);
width: 100%;
height: 700px;


}
#main img{
     display: block;
margin: 60px auto;


}
h1{
    color: aqua;
    text-align: center;
    font-size: 40px;
   
}
p{
    color: rgb(153, 255, 0);
    text-align: center;
    font-size: 30px;
}

#navbarr{
background-color: aqua;
width: 100%;
height: 120px;
position: fixed;
bottom: 0px;
padding: 20px;
height: 90px;

}
#list ul{
   display: block;
    margin-left: 35%;
     list-style:  none;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
#list ul a{
    border: none;
    background-color: inherit;
    gap:0px;
    line-height: 20px;
}
#list a:hover{
background-color: inherit ;
color: white;
}

/* mobile */
@media screen and (max-width:600px) {
    
#navbar{
    text-align:center;
    background-color: rgb(225, 160, 136);
    justify-content: space-between;
    display: flex;
     height: 90px;
     width: 1000px;
}
#navbar ul{
   margin-top: 30px;
    list-style:  none;
    display: flex;
    text-align: center;
   border-radius: 4px;
 }
a{
text-decoration: none;
font-size: 10px;
text-align: center;
line-height: normal;
padding: 10px;
margin: 10px;
color: rgb(4, 5, 5);
border: 1px solid black;

background-color: rgb(112, 189, 30);
position: relative;
bottom: 3px;

}
a:hover{
    color: rgb(226, 43, 153);
}
 #navbar img{
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 7px;
    width: 80px;
  
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    background-color: rgb(16, 223, 106);
    border: solid;
    font-size: 28px;
    text-align: center;
    margin-top: 25px;
    margin-right: 18px;
}
button:hover{
    background-color: coral;
}

#main {
background-color: rgb(197, 11, 11);
width: 100%;
height: 700px;


}
#main img{
     display: block;
margin: 60px auto;


}
h1{
    color: aqua;
    text-align: center;
    font-size: 40px;
   
}
p{
    color: rgb(153, 255, 0);
    text-align: center;
    font-size: 30px;
}

#navbarr{
background-color: aqua;
width: 100%;
height: 120px;
position: fixed;
bottom: 0px;
padding: 20px;
height: 90px;

}
#list ul{
   display: block;
    margin-left: 35%;
     list-style:  none;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
#list ul a{
    border: none;
    background-color: inherit;
    gap:0px;
    line-height: 20px;

}

}


/* tablate */

@media screen and (max-width:900px) {
    
#navbar{
    text-align:center;
    background-color: rgb(225, 160, 136);
    justify-content: space-between;
    display: flex;
     height: 120px;
}
   
#navbar ul{
   margin-top: 50px;
    list-style:  none;
    display: flex;
    text-align: center;
   border-radius: 4px;
 }
a{
text-decoration: none;
font-size: 25px;
text-align: center;
line-height: normal;
padding: 10px;
margin: 20px;
color: rgb(4, 5, 5);
border: 1px solid black;
background-color: rgb(112, 189, 30);
position: relative;
bottom: 3px;
} 
a:hover{
    color: rgb(226, 43, 153);
}
 #navbar img{
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 17px;
    width: 80px;  
}
button{
    background-color: rgb(16, 223, 106);
    border: solid;
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
    margin-right: 18px;
}
button:hover{
    background-color: coral;
}
#main {
background-color: rgb(1, 7, 1);
width: 100%;
height: 700px;


}
#main img{
     display: block;
margin: 60px auto;
width: 600px;

}
h1{
    color: aqua;
    text-align: center;
    font-size: 50px;
}
p{
    color: rgb(153, 255, 0);
    text-align: center;
    font-size: 50px;
}
#navbarr{
background-color: aqua;
width: 100%;
height: 120px;
position: fixed;
bottom: 0px;
padding: 20px;
height: 120px;

}
#list ul{
   display: block;
    margin-left: 25%;
     list-style:  none;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
#list ul a{
    border: none;
    background-color: inherit;
    gap:0px;
    line-height: 20px;

}

#list a:hover{
background-color: inherit ;
color: white;
}
}
/* desktop */
@media screen and (max-width:1024px) {

#navbar{
    text-align:center;
    background-color: rgb(225, 160, 136);
    justify-content: space-between;
    display: flex;
     height: 90px;
}
#navbar ul{
   margin-top: 30px;
    list-style:  none;
    display: flex;
    text-align: center;
   border-radius: 4px;
 }
a{
text-decoration: none;
font-size: 25px;
text-align: center;
line-height: normal;
padding: 10px;
margin: 20px;
color: rgb(4, 5, 5);
border: 1px solid black;

background-color: rgb(112, 189, 30);
position: relative;
bottom: 3px;

}
a:hover{
    color: rgb(226, 43, 153);
}
 #navbar img{
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 7px;
    width: 80px;
  
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    background-color: rgb(16, 223, 106);
    border: solid;
    font-size: 28px;
    text-align: center;
    margin-top: 25px;
    margin-right: 18px;
}
button:hover{
    background-color: coral;
}

#main {
background-color: rgb(197, 11, 11);
width: 100%;
height: 700px;


}
#main img{
     display: block;
margin: 60px auto;
width: 600px;

}
h1{
    color: aqua;
    text-align: center;
    font-size: 50px;
   
}
p{
    color: rgb(153, 255, 0);
    text-align: center;
    font-size: 60px;
}

#navbarr{
background-color: aqua;
width: 100%;
height: 120px;
position: fixed;
bottom: 0px;
padding: 20px;
height: 90px;

}
#list ul{
   display: block;
    margin-left: 35%;
     list-style:  none;
    display: flex;
    text-align: center;
    margin-top: 20px;
}
#list ul a{
    border: none;
    background-color: inherit;
    gap:0px;
    line-height: 20px;

}

#list a:hover{
background-color: inherit ;
color: white;
}

}
