
#navbar{
    text-align: left;
    background-color: rgb(223, 72, 16);
    justify-content: space-between;
    display: flex;
}
 ul{
   
    list-style:  none;
    display: flex;
    text-align: center;
   border-radius: 4px;
}
a{
text-decoration: none;
font-size: 30px;
text-align: center;
line-height: 180px;
padding: 30px;
margin: 20px;
color: rgb(4, 5, 5);
border: 1px solid black;

background-color: rgb(189, 30, 30);
position: relative;
bottom: 3px;

}
a:hover{
    color: rgb(43, 144, 226);
}
 #navbar img{
    border-radius: 50%;
    margin-left: 30px;
    
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    background-color: rgb(16, 223, 106);
    border: solid;
    font-size: 50px;
    text-align: center;
    margin-top: 60px;
}
button:hover{
    background-color: coral;
}

#main {
background-color: rgb(197, 11, 11);
width: 100%;
height: 700px;


}
#main img{
     display: block;
margin: 60px auto;


}
h1{
    color: aqua;
    text-align: center;
    font-size: 40px;
   
}
p{
    color: rgb(153, 255, 0);
    text-align: center;
    font-size: 30px;
}

#navbarr{
background-color: aqua;
width: 100%;
height: 120px;
position: fixed;
bottom: 0px;
padding: 20px;

}
#list ul{
   display: block;
    margin-left: 10%;
}
#list ul a{
    border: none;
    background-color: inherit;
    gap:0px;
    line-height: 20px;

}

#list a:hover{
background-color: inherit ;
color: white;
}
@media screen and (max-width:600px) {
    body{
    background-color: red;
    }
    #navbar{
    text-align: left;
    background-color: rgb(16, 223, 133);
    justify-content: space-between;
    display: flex;
    height: 120px;
}
   
 ul{
   
    list-style:  none;
    display: flex;
    text-align: center;
   border-radius: 4px;
}
#navbar a{
text-decoration: none;
font-size: 20px;
text-align: center;
line-height: 180px;
padding: 2px;
color: rgb(4, 5, 5);
border: 1px solid black;
margin: 5px;
background-color: rgb(189, 30, 30);

} 


#main img{
   
margin: 60px auto;
width: 300px;
height: 200px;
}

#navbar img{
  display: block;  
margin-top: 50px;
margin-right: 15px;
width: auto;
height: 50px;
}
button{
   font-size: 30px;


}
 h1{
    text-align: center;
   margin-bottom: 50px;
    font-size: 30px;
}
#main p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}
#navbarr{
background-color: aqua;
width: 100%;
height: 120px;
position: fixed;
bottom: 0px;
padding: 20px;

}
#list a{
    font-size: 20px;
}
}

